.App {
  text-align: center;
}

.App-header {
  background-color: #0d83a7;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.App-body {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.calculatorform, .results {
  margin-top: 25px;
  height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.calculatorform {
  width: 30%;
}

.results {
  width: 60%;
}

.body-container {
  display: flex;
  justify-content: center;
}

.calculatorform p {
  color: red;
  font-size: 0.75rem;
}

.calculatorform input {
  width: 200px;
}

h1 {
  font-size: 2rem;
}